<cdk-accordion *ngIf="events" class="block">
  @for (event of events; track $index) {
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="block border"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + $index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + $index"
  >
    <div class="bg-gray-100 p-2 flex items-center justify-between" (click)="accordionItem.toggle()">
      {{ event.title }}
      <span class=""> {{ accordionItem.expanded ? 'close' : 'open' }} </span>
    </div>
    <div
      class="p-2"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + $index"
      [attr.aria-labelledby]="'accordion-header-' + $index"
    >
      <div>
        <div class="flex items-center justify-between">
          <h2 class="font-bold">Description</h2>
          <div class="flex space-x-4">
            <button class="bg-gray-100 rounded-md px-2 py-1">Edit</button>
            <button (click)="openConfirmDialog(event)" class="border rounded-md px-2 py-1">Remove</button>
          </div>
        </div>
        <p class="font-light">Description about {{ event.description }}</p>
      </div>
    </div>
  </cdk-accordion-item>
  }
</cdk-accordion>
