<form [formGroup]="eventForm">
  <div class="mb-8">
    <div class="mb-2">
      <label>
        <span class="block text-sm mb-1"> Title: </span>
        <input class="border p-1 rounded-md md:w-96" type="text" formControlName="title" />
        @if(triedToSubmit) {
        <span class="text-red-600 block text-xs">{{ getErrorMessage('title') }}</span>
        }
      </label>
    </div>

    <div class="mb-2">
      <label>
        <span class="block text-sm mb-1"> Description: </span>
        <input class="border p-1 rounded-md md:w-96" type="text" formControlName="description" />
        @if(triedToSubmit) {
        <span class="text-red-600 block text-xs">{{ getErrorMessage('description') }}</span>
        }
      </label>
    </div>

    <div class="mb-2">
      <label>
        <span class="block text-sm mb-1"> Date: </span>
        <input formControlName="date" class="md:w-96 border p-1 rounded-md" type="date" />
        @if(triedToSubmit) {
        <span class="text-red-600 block text-xs">{{ getErrorMessage('date') }}</span>
        }
      </label>
    </div>

    <div>
      <label>
        <span class="block text-sm mb-1"> Time: </span>
        <input formControlName="time"  class="md:w-96 border p-1 rounded-md" type="time" />
        @if(triedToSubmit) {
        <span class="text-red-600 block text-xs">{{ getErrorMessage('date') }}</span>
        }
      </label>
    </div>
  </div>
  <div>
    <button class="bg-gray-200 rounded-md px-2 py-1 mr-2" (click)="onDialogClose()" mat-dialog-close>Cancel</button>
    <button class="bg-gray-900 rounded-md px-2 py-1 text-white" (click)="onSubmit()" cdkFocusInitial>{{this.data.payload.calendarEvent ? 'Commit Changes' : 'Create'}}</button>
  </div>
</form>
