<div>
  <div class="px-4 lg:px-8 max-w-[1400px] mx-auto">
    <div class="max-w-[600px]">
      <h2 class="text-4xl bold mb-4">About</h2>
      <div class="space-y-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim nisl, lacinia id posuere nec, sagittis in
          nisl. Maecenas felis orci, feugiat et mi a, tristique lacinia est. Donec volutpat purus arcu, in ullamcorper
          metus condimentum vitae. Donec ac eleifend felis, nec finibus eros. In placerat, ipsum ut eleifend
          ullamcorper, risus augue tristique urna, id euismod eros lacus a ligula. Aenean tempus leo accumsan maximus
          egestas.
        </p>

        <p>
          Praesent laoreet mollis est, quis consectetur augue scelerisque ac. Vivamus pellentesque cursus libero, a
          rutrum dolor consectetur ut. Phasellus lectus mauris, lobortis ac gravida sed, mollis vel mi. Nunc accumsan,
          massa sed accumsan iaculis, est magna dictum neque, ac sodales erat lectus nec elit. Phasellus nisl tellus,
          semper id faucibus et, ultricies sed est. Maecenas quis sem est. Phasellus id risus ut tortor ullamcorper
          pretium vitae ut nisi.
        </p>

        <p>
          Donec sit amet risus at orci imperdiet egestas. Nam in maximus dolor. Ut euismod, eros eu accumsan semper,
          arcu ante tincidunt velit, eget luctus urna quam vitae sapien. In auctor sollicitudin nibh sed mollis. Nam non
          diam tellus. Vivamus semper erat et eros elementum, et condimentum dui malesuada. Quisque nisl purus,
          scelerisque ut pharetra ut, posuere eu ligula. Donec et felis justo.
        </p>
      </div>
    </div>
  </div>
</div>
