<div>
  <div class="px-4 lg:px-8 max-w-[1400px] mx-auto">
    <div class="max-w-[600px]">
      <h2 class="text-4xl bold mb-4">About</h2>
      <div class="space-y-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim nisl, lacinia id posuere nec, sagittis in
          nisl. Maecenas felis orci, feugiat et mi a, tristique lacinia est. Donec volutpat purus arcu, in ullamcorper
          metus condimentum vitae. Donec ac eleifend felis, nec finibus eros. In placerat, ipsum ut eleifend
          ullamcorper, risus augue tristique urna, id euismod eros lacus a ligula. Aenean tempus leo accumsan maximus
          egestas. Praesent laoreet mollis est, quis consectetur augue scelerisque ac. Vivamus pellentesque cursus
          libero, a rutrum dolor consectetur ut. Phasellus lectus mauris, lobortis ac gravida sed, mollis vel mi. Nunc
          accumsan, massa sed accumsan iaculis, est magna dictum neque, ac sodales erat lectus nec elit. Phasellus nisl
          tellus, semper id faucibus et, ultricies sed est. Maecenas quis sem est. Phasellus id risus ut tortor
          ullamcorper pretium vitae ut nisi.
        </p>

        <p>
          Donec sit amet risus at orci imperdiet egestas. Nam in maximus dolor. Ut euismod, eros eu accumsan semper,
          arcu ante tincidunt velit, eget luctus urna quam vitae sapien. In auctor sollicitudin nibh sed mollis. Nam non
          diam tellus. Vivamus semper erat et eros elementum, et condimentum dui malesuada. Quisque nisl purus,
          scelerisque ut pharetra ut, posuere eu ligula. Donec et felis justo.
        </p>

        <p>
          Morbi odio magna, rutrum in risus at, rutrum pulvinar quam. In at dolor eleifend purus malesuada congue. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Cras enim mauris, hendrerit vel sapien sit amet, imperdiet
          imperdiet ante. Nam imperdiet metus tellus, ut rutrum sapien mattis vitae. Proin eget ipsum et elit sagittis
          efficitur ut eget risus. Sed in justo quis odio lacinia ultricies et et tortor. Donec vulputate vestibulum
          libero sit amet commodo. Cras eu vehicula felis, eu malesuada nulla. Suspendisse justo ante, accumsan quis
          sodales luctus, viverra nec leo. Morbi in posuere magna. Fusce sodales augue libero, et varius felis semper
          vitae. Duis vitae lectus luctus, volutpat sem et, semper dui. Vestibulum dolor nibh, venenatis nec placerat
          maximus, pharetra eget mauris.
        </p>

        <p>
          Ut quis placerat dui, nec consequat elit. Vestibulum sodales rhoncus tellus, vitae pharetra lorem tincidunt
          in. Donec tempus est libero, vitae dapibus massa tincidunt ut. Suspendisse ullamcorper metus in dictum
          dignissim. Maecenas at enim risus. In vulputate velit quam. Suspendisse aliquam placerat eros ac tristique.
          Curabitur malesuada non est gravida varius. Integer sollicitudin sit amet dui vel porta.
        </p>

        <p>
          Sed consequat felis at nisl tempus, non maximus mi tristique. Suspendisse et ex augue. Duis sodales lobortis
          nisl sit amet rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at ligula odio. Curabitur at
          nibh fermentum, pharetra purus eu, molestie lacus. Vestibulum vitae tincidunt massa. Integer dictum est ut
          scelerisque congue. Nam consectetur nisi in sem rutrum interdum. Ut sit amet ornare lorem. Integer tempus
          justo massa, in tempus velit maximus gravida. Duis eu augue sed nunc sagittis sodales convallis ut metus.
        </p>
      </div>
    </div>
  </div>
</div>
