<div>
  <div class="px-4 grid grid-rows-[max-content_1fr]">
    <div>
      <div class="flex items-center justify-between mb-8">
        <p>
          <span class="font-bold">{{ selectedMonthName() }}</span>
          <span class="text-lg"> {{ selectedYear() }}</span>
        </p>

        <div class="space-x-1 text-xs text-white">
          <button (click)="setPrevMonth()" class="bg-gray-900 rounded-md px-2 py-1">Prev</button>
          <button (click)="setCurrMonth()" class="bg-gray-900 rounded-md px-2 py-1">Today</button>
          <button (click)="setNextMonth()" class="bg-gray-900 rounded-md px-2 py-1">Next</button>
        </div>
      </div>

      <!-- grid -->
      <div class="grid grid-cols-7 gap-1 text-sm">
        @for (day of weekDays; track $index) {
          <span class="">{{ day }}</span>
        }

        @for (_ of [].constructor(getOffset(selectedDate())); track $index) {
          <div class="square min-h-8 sm:h-auto text-xs p-1"></div>
        }


        @for (_ of [].constructor(selectedMonthDays()); let index = $index; track index) {
          <button (click)="handleDateClick(index + 1)" class="square min-h-8 sm:h-auto bg-gray-100 text-sm relative">
            <div class="absolute top-1 right-1">
              <span
                [ngClass]="{'bg-red-700 text-white rounded-full': index+1 === currentDay && selectedMonth() === currentMonth && selectedYear() === currentYear }"
              >
                {{ index + 1 }}
              </span>

            </div>


            @if (taskCounts()[index] > 0) {
            <div
              class="h-4 w-4 bg-blue-700 absolute -top-0.5 -left-0.5 rounded-full flex justify-center place-items-center text-white text-xs"
            >
              {{ taskCounts()[index] }}
            </div>
            }
          </button>

        }
      </div>
    </div>


    <!-- details -->
    <div class="min-h-20 bg-gray-300 mt-8 rounded-md p-4 text-md">
      <h2>Tasks for {{pickedDateStr()}}</h2>
      <div class="text-sm">
        @for(task of pickedDateTasks(); track task.date) {
        <p>{{task.title}}</p>
        }
      </div>
    </div>
  </div>
</div>
