<div>
  <div class="px-4 md:px-8 grid grid-rows-[max-content_1fr] max-w-[1200px] mx-auto grid-cols-1 lg:grid-cols-3">
    <div class="flex items-center justify-between mb-8 lg:mb-0 lg:place-items-start lg:col-span-2 lg:h-24">
      <p class="font-bold md:text-xl lg:text-4xl md:-mt-2">
        <span class="font-bold">{{ selectedMonthName() }}</span>
        <span class="font-thin"> {{ selectedYear() }}</span>
      </p>

      <div class="space-x-1 text-white">
        <button (click)="setPrevMonth()" class="bg-gray-900 rounded-md px-2 py-1">Prev</button>
        <button (click)="setCurrMonth()" class="bg-gray-900 rounded-md px-2 py-1">Today</button>
        <button (click)="setNextMonth()" class="bg-gray-900 rounded-md px-2 py-1">Next</button>
      </div>
    </div>

    <!-- grid -->
    <div class="grid grid-cols-7 gap-1 md:row-start-2 md:col-span-2">
      @for (day of weekDays; track $index) {
      <span class="">{{ day }}</span>
      } @for (_ of [].constructor(getOffset(selectedDate())); track $index) {
      <div class="square min-h-8 sm:h-auto p-1"></div>
      } @for (_ of [].constructor(selectedMonthDays()); let index = $index; track index) {
      <button
        (click)="handleDateClick(index + 1)"
        class="square min-h-8 sm:h-auto bg-gray-100 relative border p-1 flex flex-col"
      >
        <!-- header -->
        <div class="w-full flex justify-end">
          <div
            class="bg-gray-100 rounded-md md:px-1 "
            [ngClass]="{'bg-fuchsia-600 text-white': index+1 === currentDay && selectedMonth() === currentMonth && selectedYear() === currentYear }"
          >
            {{ index + 1 }}
          </div>
        </div>
        <div class="items-start h-full flex-col text-xs hidden sm:flex">

          @if (taskList()[index].length > 0) {
            @for(task of taskList()[index]; track task.date) {
              <p>{{task.title}}</p>
            }
          }

        </div>

        @if (taskList()[index].length > 0) {
          <div
            class="h-4 w-4 md:h-5 md:w-5 bg-blue-700 absolute -top-1 -left-1 md:-top-2 md:-left-2 rounded-full flex justify-center place-items-center text-white"
          >
            <span> {{ taskList()[index].length }} </span>
          </div>
        }
      </button>

      }
    </div>

    <!-- details -->
    <div class="lg:items-start lg:mx-8 md:ml-1">
      <button (click)="openDialog()" class="mt-4 md:mt-0 bg-gray-900 rounded-md px-2 py-1 text-white">New Event</button>
    </div>

    <div class="mt-4 rounded-md lg:mt-0 lg:mx-8 md:pt-0 lg:col-start-3 lg:row-start-2">
      <div class="flex justify-between items-center md:flex-col-reverse md:items-start md:justify-start md:mb-8">
        <h2 class="font-bold md:text-xl lg:text-3xl">{{pickedDateStr()}}</h2>
      </div>
      <div class="">
        @for(task of pickedDateTasks(); track task.date) {
        <p>{{task.title}}</p>
        }
      </div>
    </div>
  </div>
</div>
