<div>
  <div class="px-4 md:px-8 grid grid-rows-[max-content_1fr] max-w-[1400px] mx-auto grid-cols-1 lg:grid-cols-3">
    <div class="flex items-center justify-between mb-8 lg:mb-0 lg:col-span-2 lg:h-24">
      <p class="font-bold md:text-xl lg:text-4xl">
        <span class="font-bold">{{selectedMonthStr$ | async}}</span>
        <span class="font-thin"> {{ selectedYearStr$ | async }}</span>
      </p>

      <div class="space-x-1 text-white flex">
        <button (click)="setPrevMonth()" class="bg-gray-900 rounded-md px-2 py-1 flex justify-center items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
          </svg>
        </button>
        <button (click)="setCurrMonth()" class="bg-gray-900 rounded-md px-2 py-1">Today</button>
        <button (click)="setNextMonth()" class="bg-gray-900 rounded-md px-2 py-1 flex justify-center items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
    </div>

    <!-- grid -->
    <div class="grid grid-cols-7 gap-1 md:row-start-2 md:col-span-2">
      @for (day of weekDays; track $index) {
      <span class="">{{ day }}</span>
      } @for (_ of [].constructor( selectedMonthOffset$ | async ); track $index) {
      <div class="square min-h-8 sm:h-auto p-1"></div>
      }

      <button
        *ngFor="let calDay of (calendarMonth$ | async)?.days; let i = index"
        (click)="handleDayClick(calDay.date)"
        class="square min-h-8 sm:h-auto bg-gray-100 relative border p-1 flex flex-col"
        [ngClass]="{'bg-yellow-50': isSameDate(calDay.date, pickedDay$.getValue())}"
      >
        <!-- date's header -->
        <div class="w-full flex justify-end mb-1">
          <div
            class="bg-gray-100 rounded-md md:px-1"
            [ngClass]="{'bg-purple-500 text-white': isSameDate(calDay.date, currentDate)}"
          >
            {{calDay.day}}
          </div>
        </div>

        <div
          *ngIf="getEventsForDay(calDay.date) | async as events"
          class="h-full flex-col tasks"
          cdkDropList
          [id]="'droplist-' + formatDateAsIso(calDay.date)"
          [cdkDropListData]="events"
          [cdkDropListConnectedTo]="(connectedDropListIds$ | async) ?? []"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            *ngFor="let event of events"
            cdkDrag
            [cdkDragData]="event"
            class="hidden sm:flex overflow-hidden bg-blue-200 border rounded-xl text-start text-xs px-1"
          >
            <span> {{event.title}} </span>
          </div>

          <div
            *ngIf="events.length > 0"
            class="h-4 w-4 md:h-5 md:w-5 bg-blue-700 absolute -top-1 -left-1 md:-top-2 md:-left-2 rounded-full flex justify-center place-items-center text-white sm:hidden"
          >
            <span> {{ events.length }} </span>
          </div>
        </div>
      </button>
    </div>

    <!-- details -->
    <div class="lg:mx-8 md:ml-1 lg:flex lg:justify-start lg:items-center">
      <button
        (click)="openDialog()"
        class="mt-4 md:mt-0 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 rounded-md px-2 py-1 text-white flex justify-center items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

        <span> New Event </span>
      </button>
    </div>

    <div class="mt-4 rounded-md lg:mt-0 lg:ml-8 md:pt-0 lg:col-start-3 lg:row-start-2 border">
      @if ((pickedDayEvents$ | async)!.length > 0) {
      <app-event-list [events]="pickedDayEvents$ | async" />
      } @else {
      <p class="text-gray-400 p-4">All clear</p>
      }
    </div>
  </div>
</div>
